#!/usr/bin/make -f

VERSION=$(shell dpkg-parsechangelog --show-field=Version|rev|cut -d- -f2-|rev)
DEB_HOST_ARCH ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)
ifeq ($(DEB_HOST_ARCH),amd64)
TOUCH_ARCH := x86_64
else ifeq ($(DEB_HOST_ARCH),arm64)
TOUCH_ARCH := aarch64
endif

TOUCH2_SERVER := $(wildcard bin/touch2/OpticalTouchServer.$(TOUCH_ARCH))
TOUCH2_CALIBRATION := $(wildcard bin/touch2/OpticalCalibrationTool.$(TOUCH_ARCH))
TOUCH4_SERVER := $(wildcard bin/touch4/OpticalTouchServer.$(TOUCH_ARCH))
TOUCH4_CALIBRATION := $(wildcard bin/touch4/OpticalCalibrationTool.$(TOUCH_ARCH))

%:
	dh $@ --with dkms

override_dh_install:
	dh_install src/Makefile src/OpticalDrv.c src/include/OpticalDrv.h \
		usr/src/eta-touchdrv-$(VERSION)/
ifneq ($(strip $(TOUCH2_SERVER)),)
	dh_install $(TOUCH2_SERVER) usr/bin/touch2/
endif
ifneq ($(strip $(TOUCH2_CALIBRATION)),)
	dh_install $(TOUCH2_CALIBRATION) usr/bin/touch2/
endif
ifneq ($(strip $(TOUCH4_SERVER)),)
	dh_install $(TOUCH4_SERVER) usr/bin/touch4/
endif
ifneq ($(strip $(TOUCH4_CALIBRATION)),)
	dh_install $(TOUCH4_CALIBRATION) usr/bin/touch4/
endif
	dh_install touchdrv_launcher usr/bin

override_dh_fixperms:
	dh_fixperms
	chmod 744 debian/eta-touchdrv/usr/bin/touchdrv_launcher
	if [ -d debian/eta-touchdrv/usr/bin/touch2 ]; then chmod 744 debian/eta-touchdrv/usr/bin/touch2/*; fi
	if [ -d debian/eta-touchdrv/usr/bin/touch4 ]; then chmod 744 debian/eta-touchdrv/usr/bin/touch4/*; fi

override_dh_dkms:
	dh_dkms -V $(VERSION)
